.contentFrame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cart {
    height: 50vh;
    max-width: 250px;
    margin: 0 10px;
  }
  
  #box1 {
    z-index: 9999;
  }

.farmButton{
    width: 250px;
    background: darkgray;
    border-radius: 12px;
    text-align: center;
    color: black;
    padding: 20px;
    
}