.root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user{
    text-align:center; 
    padding:10px 0;
}

.button{
    width: 70%;
    max-width: 300px;
    border-radius: 8px;
    color: white;
    border: 1.5px solid orange;
    text-decoration: none;
    text-align: center;
    font: 1.1rem bold;
    margin-top: 100px;
}
.button:hover{
    border-color: rgb(190, 124, 1);
}

.spinnerSM {
    width: 20px;
    height: 20px;
    border: 4px solid rgb(118, 194, 220);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }